:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontcolor);
    font-family: Helvetica, ;

}body{
   background: var(--bg);
}
ul{
    font-family:Helvetica,;
}
li{
    list-style: circle ;
}
.lista{
    list-style: square;
}

.tema-claro{
    --bg: var(--green);
    --fontcolor: var(--black);
    --btnbg: var(--black);
    --btnfontcolor: var(--white);
}

.tema-escuro{
    --bg: var(--black);
    --fontcolor: var(--green);
    --btnbg: var(--white);
    --btnfontcolor: var(--black);
}
.botao{
position: absolute;
top: 20px;
left: 250px;
height: 50px;
width: 50px;
border-radius: 50%;
color: var(--btnfontcolor);
background-color: var(--btnbg);
}