:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontcolor);
    font-family: Helvetica, ;

}body{
   background: var(--bg);
}
ul{
    font-family:Helvetica,;
}
li{
    list-style: circle ;
}
.lista{
    list-style: square;
}